@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/hero.css);
@import url(/css/offers.css);
@import url(/css/categories.css);
@import url(/css/destinations.css);
@import url(/css/payments.css);
@import url(/css/testimonials.css);
@import url(/css/footer.css);
